.hero-container {
  position: relative;
  width: 100%;
  height: calc(40vh - 100px);
  overflow: hidden;
}

#hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.main-intro {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: left;
  padding: 50px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #ead7c5;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #3a2e2a;
}
.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  padding-right: 6%;
}

.nav-links a {
  padding: 4px 20px;
  background-color: #8c6a52;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
}

#folderbox {
  width: 150px;
  height: auto;
}

main {
  width: 100%;
}

#hero-img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  display: block;
}

.main-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  text-align: left;
  padding: 50px;
}

#portrait-hero {
  width: 150px;
  height: auto;
  top: 100px;
  left: 50px;
  border: 4px solid #fff;
}

h1 {
  font-size: 48px;
  color: #3a2e2a;
  align-self: center;
  margin-left: 20px;
}

body {
  background-color: #fff3e0;
}

#folderbox {
  display: block;
  margin: 40px auto;
  width: 60%;
}

#Projekter-btn {
  display: block;
  width: 200px;
  height: 60px;
  margin: 5px auto;
  background-color: #8c6a52;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  color: white;
  font-size: 24px;
}

#Om_mig-btn {
  display: block;
  width: 200px;
  height: 60px;
  margin: 5px auto;
  background-color: #8c6a52;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  color: white;
  font-size: 24px;
}

p {
  text-align: center;
  font-size: 18px;
  color: #3a2e2a;
  padding-top: 10px;
}

#portrait {
  display: block;
  width: 20vh;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .hero-container {
    height: 90vh;
  }
  #hero-img {
    height: 90vh;
  }
  .main-intro {
    grid-template-columns: 1fr 1fr;
    padding: 100px 150px;
  }

  .main-intro {
    grid-template-columns: 1fr 1fr;
    padding: 100px 150px;
  }

  #portrait-hero {
    width: 300px;
    height: auto;
    margin-left: 30%;
  }

  h1 {
    font-size: 100px;
  }

  #folderbox {
    width: 31%;
    height: auto;
  }

  #portrait {
    width: 50vh;
  }
}
