.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 32px;
  background-color: #ead7c5;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #3a2e2a;
}
.nav-links {
  margin: 16px;
  padding: 10px 20px;
  background-color: #8c6a52;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
