* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 32px;
  background-color: #ead7c5;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #3a2e2a;
}
.nav-links {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  padding: 4px 20px;
  background-color: #8c6a52;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
}
