/* =========================
   RESET
   ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BODY
   ========================= */
body {
  background-color: #fff3e0;
}

/* =========================
   NAV
   ========================= */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #ead7c5;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #3a2e2a;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-right: 2%;
}

.nav-links a {
  padding: 4px 20px;
  background-color: #8c6a52;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
}

/* =========================
   HERO (HTML images)
   ========================= */

main {
  position: relative; /* parent container */
  width: 100%;
  height: calc(40vh - 100px);
  overflow: hidden;
  border-bottom: #8c6a52 8px solid;
}

/* hero background image */
.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* hero content (portrait + h1) */
.main-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  gap: 24px;

  padding: 50px;
  z-index: 2;
}

/* portrait */
#portrait-hero {
  width: 150px;
  height: auto;
  border: 4px solid #fff;
}

/* hero title */
h1 {
  font-size: 48px;
  color: #3a2e2a;
  font-family: "DM Serif Text", serif;
  font-weight: 200;
}

/* =========================
   OTHER CONTENT
   ========================= */

#folderbox {
  display: block;
  margin: 40px auto;
  width: 60%;
}

#Projekter-btn,
#Om_mig-btn {
  display: block;
  width: 200px;
  height: 60px;
  margin: 5px auto;
  background-color: #8c6a52;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  color: white;
  font-size: 24px;
}

p {
  text-align: center;
  font-size: 18px;
  color: #3a2e2a;
  padding-top: 10px;
  font-family: DM Sans, sans-serif;
}

#portrait {
  display: block;
  width: 20vh;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

#greeting {
  font-size: 25px;
  padding-right: 10px;
}

/* =========================
   DESKTOP
   ========================= */

@media (min-width: 768px) {
  main {
    height: 90vh;
  }

  #portrait-hero {
    width: 300px;
  }

  h1 {
    font-size: 100px;
  }

  #folderbox {
    width: 31%;
  }

  #portrait {
    width: 50vh;
  }
  .nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    padding-right: 6%;
  }
}
