/* =========================
   RESET
   ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   NAV
   ========================= */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #ead7c5;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #3a2e2a;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-right: 2%;
}

.nav-links a {
  padding: 4px 20px;
  background-color: #8c6a52;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff3e0;
}

main {
  background-color: #8c6a52;
  border-bottom: #ead7c5 8px solid;
}

#folderbox {
  display: block;
  margin: 40px auto;
  width: 60%;
}

.temafolder {
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h2 {
  font-family: DM sans-serif;
  text-align: left;
  color: #3a2e2a;
  font-size: 37px;
  padding-left: 10px;
}

.OpgaveTitel {
  font-family: DM sans;
  text-align: center;
  color: #3a2e2a;
  font-size: 35px;
  margin: 20px auto;
}

p {
  font-family: DM sans;
  text-align: left;
  color: #3a2e2a;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10vh;
}

.laptop {
  display: block;
  width: 40%;
  height: auto;
  margin: 20px auto;
}

.sites-links a {
  text-decoration: none;
  padding: 10px 90px;
  background-color: #8c6a52;
  color: white;
  border-radius: 6px;
  font-weight: 500;
  display: inline-block;
  margin-top: 20px;
}

.sites-links {
  text-align: center;
}
